@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Cabeza*/

.gradiente {
    background: rgb(163, 110, 158);
    background: linear-gradient(90deg, rgba(163, 110, 158, 1) 43%, rgba(223, 203, 218, 0.29744397759103647) 70%);
}

.cabeza__nav__div__a__h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.cabeza__nav__div__div__ul__li__a {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}

.cabeza__nav__div__div__ul__li__ul__li__a {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}

/*WhatsApp*/

.cuerpo__icono .cuerpo__icono__position .cuerpo__icono__position__link .cuerpo__icono__position__imagen {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    transition-property: width height;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.cuerpo__icono .cuerpo__icono__position .cuerpo__icono__position__link .cuerpo__icono__position__imagen:hover {
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 768px) {
    .cuerpo__icono .cuerpo__icono__position .cuerpo__icono__position__link .cuerpo__icono__position__imagen {
        width: 60px;
        height: 60px;
    }
}

/*Contacto*/

.cuerpo__mapa {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .cuerpo__mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cuerpo__mapa__mapa {
    width: 80%;
    margin: 30px;

}

/*Cuerpo*/

.cuerpo {
    background: linear-gradient(rgba(255, 255, 255, 0.842), rgba(206, 141, 22, 0.74)), url("../img/productos.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Pie*/

.pie__caja {
    display: flex;
    justify-content: space-around;
}

.redessociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pie .pie__caja .pie__caja__redessociales .pie__caja__imagen {
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-property: width height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.pie .pie__caja .pie__caja__redessociales .pie__caja__imagen:hover {
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 100px;
}

@media screen and (max-width: 520px) {
    .pie__caja__redessociales {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pie__caja__titulo {
    margin-left: 10px;
}

.pie__caja__datos {
    margin-top: 20px;
}

.pie .pie__caja .pie__caja__datos .pie__caja__datos__texto {
    width: 100%;
    height: 120px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .pie .pie__caja {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}